<template>
  <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
    <form action="#" method="POST" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8" @change="handleFormChanges">
      <div class="sm:col-span-2">
        <Autocomplete title="Country" :choices="countriesChoices" v-model="formData.country"/>
      </div>
      <div class="sm:col-span-2">
        <Autocomplete title="City" :choices="citiesChoices" v-model="formData.city"/>
      </div>
      <div class="sm:col-span-2">
        <Autocomplete title="Calculation method" :choices="calculationMethodsChoices" v-model="formData.calculationMethod"/>
      </div>
      <!-- TODO: make these into radio boxes (Shafi / Hanafi) -->
      <div class="sm:col-span-2">
        <Autocomplete title="Madhab" :choices="madhabsChoices" v-model="formData.madhab"/>
      </div>

      <PrayerTimesPreview :prayerTimes="prayerTimes" :timezone="formData.city.original.timezone" class="sm:col-span-2" />

      <div class="sm:col-span-2">
        <Link :link="calendarUrl" />
      </div>
    </form>
  </div>
</template>

<script>
import {inject} from 'vue';
import Autocomplete from "./Autocomplete.vue";
import Link from "./Link.vue";
import cities from '../assets/cities.tsv';
import countries from '../assets/countries.tsv';
import {CalculationMethod, Madhab} from "adhan";
import {
  getPrayerTimes,
  getRecommendedMethod,
  isGenerallyAcceptedMethod,
  methodAndCityMatch
} from "../backend/prayer-times.mjs";
import PrayerTimesPreview from "./PrayerTimesPreview.vue";
import {DateTime} from "luxon";

const today = DateTime.local(); // Get current date and time

const countriesChoices = Array.from(new Set(cities.map(city => city.country)))
    .map(country => ({
      id: country,
      name: countries.find(tsvCountry => tsvCountry.code === country).name,
    }));

const citiesAll = cities.map(city => ({
  id: city.id,
  name: city.name + (city.state ? ` (${city.state})` : ''),
  original: city,
}));

// TODO: somehow group the generally accepted methods and region-specific ones
const calculationMethods = Object.keys(CalculationMethod)
    .filter(method => method !== 'Other')
    .map(method => ({id: method, name: {
        MuslimWorldLeague: 'Muslim World League',
        Egyptian: 'Egyptian General Authority of Survey',
        Karachi: 'University of Islamic Sciences, Karachi',
        UmmAlQura: 'Umm al-Qura University, Makkah',
        MoonsightingCommittee: 'Moonsighting Committee',
        NorthAmerica: 'Islamic Society of North America (ISNA)',
        Tehran: 'Institute of Geophysics, University of Tehran',
      }[method] ?? method}));

const madhabsChoices = Object.keys(Madhab)
    .map(madhab => ({id: madhab, name: {
        Shafi: 'Majority (Shafii, Maliki, Jaafari, and Hanbali)',
        Hanafi: 'Hanafi (Later Asr time)',
      }[madhab] ?? madhab}));

export default {
  setup() {
    return {
      countriesChoices,
      madhabsChoices,
      calendarBaseURL: inject('calendarBaseURL'),
    };
  },
  components: {
    PrayerTimesPreview,
    Autocomplete,
    Link,
  },
  data() {
    return {
      formData: {
        city: citiesAll.find(city => city.original.country === countriesChoices[0].id),
        country: countriesChoices[0],
        calculationMethod: calculationMethods[0],
        madhab: madhabsChoices[0],
      },
      lastGenerallyAcceptedMethod: calculationMethods[0],
    }
  },
  computed: {
    citiesChoices: function () {
      return citiesAll.filter(city => city.original.country === this.formData.country.id);
    },
    calculationMethodsChoices: function () {
      return calculationMethods.filter(method => methodAndCityMatch(method.id, this.formData.city.original));
    },
    calendarUrl: function () {
      return encodeURI(`${ this.calendarBaseURL }/${ this.formData.city.id }-${ this.formData.calculationMethod.id }-${ this.formData.madhab.id }.ics`);
    },
    prayerTimes: function () {
      return getPrayerTimes(
          this.formData.city.original.latitude, this.formData.city.original.longitude,
          today.year, today.month, today.day,
          CalculationMethod[this.formData.calculationMethod.id](), Madhab[this.formData.madhab.id],
      );
    },
  },
  watch: {
    'formData.city': function (newValue) {
      const recommendedMethod = getRecommendedMethod(newValue.original);

      // If there's a recommended method, select it
      if (recommendedMethod) {
        const recommendedMethodObject = this.calculationMethodsChoices.find(method => method.id === recommendedMethod)
        this.formData.calculationMethod = recommendedMethodObject;
      } else if (this.formData.calculationMethod && !isGenerallyAcceptedMethod(this.formData.calculationMethod.id)) {
        // Otherwise, if a region-specific method was selected, reset to the last selected generally accepted method
        this.formData.calculationMethod = this.lastGenerallyAcceptedMethod;
      }
    },
    'formData.calculationMethod': function (newValue) {
      if (isGenerallyAcceptedMethod(newValue.id)) {
        this.lastGenerallyAcceptedMethod = newValue;
      }
    },
    'formData.country': function (newValue) {
      // If selected city isn't part of selected country, select the first city in said country
      if (!this.citiesChoices.includes(this.formData.city)) {
        this.formData.city = this.citiesChoices[0];
      }
    },
  }
}
</script>
