<template>
  <div>
    <label for="link" class="block text-sm font-medium text-gray-700">
      Calendar URL
    </label>
    <div class="mt-1 flex rounded-md shadow-sm">
      <div class="relative flex items-stretch flex-grow focus-within:z-10">
        <input type="text" ref="linkInput" readonly id="link" class="focus:ring-green-500 focus:border-green-500 block w-full rounded-none rounded-l-md sm:text-sm border-gray-300" :value="link" @focus="$event.target.select()" />
      </div>
      <button type="button" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-green-500 focus:border-green-500" @click="handleCopy">
        <ClipboardCopyIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
        <span>{{ buttonText }}</span>
      </button>
    </div>
  </div>
</template>

<script>
import { ClipboardCopyIcon } from '@heroicons/vue/solid'

export default {
  components: {
    ClipboardCopyIcon
  },
  props: {
    link: String,
  },
  data() {
    return {
      buttonText: 'Copy',
    }
  },
  methods: {
    handleCopy() {
      this.$refs.linkInput.focus();
      navigator.clipboard && navigator.clipboard.writeText(this.link);

      this.buttonText = 'Copied';
      setTimeout(() => this.buttonText = 'Copy', 800)
    },
  }
}
</script>