<template>
  <div class="flex flex-row flex-wrap w-full justify-evenly">
    <div v-for="(time, name) in prayerTimes" :key="name" class="p-2 text-center" :class="time - Date.now() >= 0 ? 'text-black' : 'text-gray-500'">
      <div class="font-bold text-sm">{{ name }}</div>
      <div class="text-xl">{{ time.toLocaleTimeString('en-US', {timeZone: timezone, hour: '2-digit', minute:'2-digit'}) }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrayerTimesPreview",
  props: ['prayerTimes', 'timezone'],
}
</script>
