<script setup>
import { CodeIcon } from '@heroicons/vue/outline';
</script>

<template>
  <div class="relative overflow-hidden py-10 px-6 bg-green-700 sm:px-10 xl:p-12">

    <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
      <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
        <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
        <defs>
          <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
            <stop stop-color="#fff" />
            <stop offset="1" stop-color="#fff" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden" aria-hidden="true">
      <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
        <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
        <defs>
          <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
            <stop stop-color="#fff" />
            <stop offset="1" stop-color="#fff" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>

    <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block" aria-hidden="true">
      <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
        <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
        <defs>
          <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
            <stop stop-color="#fff" />
            <stop offset="1" stop-color="#fff" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </div>

    <h3 class="text-2xl font-medium text-white">Prayer Calendar</h3>
    <p class="mt-2 text-base text-green-50 max-w-3xl">
      Prayer times for busy folks!&trade;
    </p>
    <p class="mt-4 text-base text-green-100 max-w-3xl">
      Add prayer times to your Google Calendar and plan your day around them to never miss one again!
    </p>

    <div class="mt-8">
      <h2 class="text-base font-medium text-white">How to use this tool:</h2>
      <ol class="mt-2 text-sm text-white list-decimal list-inside">
        <li>Select city and methods</li>
        <li>Copy the calendar URL</li>
        <li>Go to <a class="underline" href="https://calendar.google.com/calendar/u/0/r/settings/addbyurl" target="_blank">"Add a calendar from URL"</a></li>
        <li>Paste the URL and save</li>
      </ol>
      <small class="mt-2 text-xs text-green-200">It takes a few reloads before you can see all events.</small>
    </div>

    <dl class="mt-8 space-y-6">
      <dt><span class="sr-only">Source code</span></dt>
      <dd class="flex text-base text-green-50">
        <CodeIcon class="flex-shrink-0 w-6 h-6 text-green-200" aria-hidden="true" />
        <a class="ml-3" href="https://gitlab.com/isword/prayer-calendar" target="_blank">gitlab.com/isword/prayer-calendar</a>
      </dd>
    </dl>
  </div>
</template>
