<script setup>
import Form from "./components/Form.vue";
import Sidebar from "./components/Sidebar.vue";
</script>

<template>
  <div class="bg-gray-100 h-full">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="relative bg-white shadow-xl">
        <h2 class="sr-only">Prayer Calendar</h2>

        <div class="grid grid-cols-1 lg:grid-cols-3">
          <Sidebar/>
          <Form/>
        </div>
      </div>
    </div>
  </div>
</template>
